/* Setup */
$colors: (
	"white":	#FFFFFF,
	"black":	#000000,
);
:root{
	@each $name, $value in $colors {
		--#{$name}: #{$value};
	}
	--headerHeight: calc(var(--sp-24)*2 + 1rem*1.15);
	--footerHeight: calc(var(--sp-100) + var(--sp-24) + 75px);
	--transition: cubic-bezier(.77,0,.175,1) 400ms;
	--sp-3:	0.214rem;
	--sp-6: 0.428rem;
	--sp-12: 0.857rem;
	--sp-16: 1.143rem;
	--sp-20: 1.429rem;
	--sp-24: 1.714rem;
	--sp-30: 2.143rem;
	--sp-40: 2.857rem;
	--sp-50: 3.571rem;
	--sp-60: 4.256rem;
	--sp-100: 7.143rem;
	--sp-168: 12rem;

	@media (width <= 1080px) {
		--headerHeight: calc(var(--sp-40) + var(--sp-20) + 1.142rem*1.15);
		--footerHeight: calc(var(--sp-40) + var(--sp-20) + 1.142rem*1.15);
	}
}
html {
	-webkit-font-smoothing: antialiased;
	font-size: clamp(14px, calc(10px + .4vw), 18px);
	line-height: 1.2;
	overscroll-behavior-x: none;

	@media (width <= 1080px) {
		font-size: clamp(12px, calc(18px - .5vw), 14px);
	}
}
/* Visibility */
.hidden {
	display: none !important;
}
.invisible {
	opacity: 0;
	pointer-events: none;
}
.mobile-s-only {
	display: none;
}
.mobile-only {
	display: none;
}
@media screen and (max-width: 1080px) {
	.desktop-only {
		display: none !important;
	}
	.mobile-only {
		display: inherit;
	}
}
@media screen and (max-width: 768px) {
	.desktop-s-only {
		display: none !important;
	}
	.mobile-s-only {
		display: inherit;
	}
}
/* Buttons */
.btn {
	display: inline-block;
	width: fit-content;
	&::before {
		content: '';
		display: inline-block;
		width: .8em;
		height: .8em;
		position: relative;
		top: .07em;
		margin-right: .4em;
		background-color: transparent;
		border: solid 2px var(--white);
	}
	&:hover {
		text-decoration: underline;
		&::before {
			background-color: var(--white);
		}
	}
	&.active,
	&[aria-current="page"] {
		&::before {
			background-color: var(--white);
		}
	}
}

// Colors
@each $name, $value in $colors {
	.#{$name}       { color: $value !important; }
	.bg-#{$name}    { background-color: $value !important; }
	.fill-#{$name}  { fill: $value !important; }
	.stroke-#{$name}{ stroke: $value !important; }
	.border-#{$name}{ border: solid 1px $value !important; }
	
	.hover-#{$name}:hover { color: $value !important; }
	.hover-bg-#{$name}:hover { background-color: $value !important; }
	.hover-fill-#{$name}:hover { fill: $value !important; }
	.hover-stroke-#{$name}:hover { stroke: $value !important; }
	.hover-border-#{$name}:hover { border: solid 1px $value !important; }
}
@each $from-name, $from-value in $colors {
  @each $to-name, $to-value in $colors {
    .gradient-y-#{$from-name}-#{$to-name} {
      background: linear-gradient(to bottom, #{$from-value}, #{$to-value}) !important;
    }
    .gradient-x-#{$from-name}-#{$to-name} {
      background: linear-gradient(to right, #{$from-value}, #{$to-value}) !important;
    }
    .gradient-xy-#{$from-name}-#{$to-name} {
      background: linear-gradient(135deg, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-y-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(to bottom, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-x-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(to right, #{$from-value}, #{$to-value}) !important;
    }
    .hover-gradient-xy-#{$from-name}-#{$to-name}:hover {
      background: linear-gradient(135deg, #{$from-value}, #{$to-value}) !important;
    }
  }
}

// General
.placeholder, .portrait, .cover {
	object-fit: cover;
}
._9_21	{ aspect-ratio: 9/21; }
._9_16	{ aspect-ratio: 9/16; }
._2_3	{ aspect-ratio: 2/3; }
._3_4	{ aspect-ratio: 3/4; }
._4_5	{ aspect-ratio: 4/5; }
._1_1	{ aspect-ratio: 1/1; }
._5_4	{ aspect-ratio: 5/4; }
._4_3	{ aspect-ratio: 4/3; }
._3_2	{ aspect-ratio: 3/2; }
._16_9	{ aspect-ratio: 16/9; }
._21_9	{ aspect-ratio: 21/9; }

.max-w-800 {max-width: 800px;}
.max-w-700 {max-width: 700px;}
.max-w-600 {max-width: 600px;}
.max-w-500 {max-width: 500px;}
.max-w-400 {max-width: 400px;}
.policy {
	section {
		h3 {
			margin-top: 1em;
			margin-bottom: .5em;
		}
		ul {
			list-style: none;
			padding-left: 0;

			li {
				position: relative;
				padding-left: 1.5em;

				&::before {
					content: "—";
					position: absolute;
					left: 0;
				}
			}
		}
	}
}

// Common
.underline,
.underline:any-link,
.hover-underline:hover {
	text-decoration: underline;
}